canvas {
  position: absolute;
  top: 0;
  left: 0; }

/* line 44, index.scss */
#hud {
  position: absolute;
  top: 0;
  left: 0; }
#debug {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 160px;
  border: 1px solid black;
  overflow: auto;
  padding: 5px; }
