#target_wrapper {
  position: fixed;
  bottom: -7px;
  background-image: url(../img/ui/target_wrapper.png);
  width: 459px;
  height: 132px;
  left: 35%;
}

#header {
  position: fixed;
  left: 34px;
  background-image: url(../img/ui/header.png);
  width: 327px;
  height: 86px;
  top: 29px;
}

#minimap {
  position: fixed;
  bottom: 71px;
  background-image: url(../img/ui/minimap.png);
  width: 323px;
  height: 250px;
  left: 0%;
}

#minichat {
  position: fixed;
  bottom: -84px;
  background-image: url(../img/ui/minichat.png);
  width: 449px;
  height: 250px;
  right: 1%;
  background-repeat: no-repeat;
  padding:12px;
  color:white;
}