/*rgb(249, 48, 42);*/
/* line 37, editor.scss */
body {
  overflow: hidden;
  height: 100%;
  width: 100%; }

/* line 42, editor.scss */
header {
  position: absolute;
  top: 0;
  color: whitesmoke;
  left: 0;
  line-height: 30px;
  height: 30px;
  background-color: rgba(150, 150, 150, 0.5);
  border-bottom: 1px solid black; }
  /* line 53, editor.scss */
  header > * {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 6px;
    vertical-align: top; }
  /* line 60, editor.scss */
  header .title {
    font-weight: bold;
    border-right: 1px solid black; }
  /* line 64, editor.scss */
  header .menu {
    padding: 0px;
    display: inline-block;
    font-family: 'Arial'; }
    /* line 68, editor.scss */
    header .menu > * {
      line-height: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: top; }
    /* line 74, editor.scss */
    header .menu .label {
      color: #333333;
      padding: 6px 20px; }
      /* line 77, editor.scss */
      header .menu .label:hover {
        background-color: whitesmoke;
        cursor: pointer; }

/* line 88, editor.scss */
canvas {
  position: absolute;
  top: 0;
  left: 0; }

/* line 93, editor.scss */
#panel {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  position: absolute;
  top: 41px;
  left: 0;
  width: 300px;
  border-right: 1px solid black; }
  /* line 102, editor.scss */
  #panel .title {
    line-height: 40px;
    height: 40px;
    background-color: rgba(62, 62, 62, 0.9); }
    /* line 106, editor.scss */
    #panel .title > * {
      display: none;
      line-height: 40px;
      height: 40px;
      vertical-align: top; }
    /* line 113, editor.scss */
    #panel .title .loading > * {
      vertical-align: top;
      display: inline-block; }
    /* line 117, editor.scss */
    #panel .title .loading img {
      padding: 8px; }
  /* line 125, editor.scss */
  #panel .tools {
    overflow: auto;
    height: 92%; }
    /* line 128, editor.scss */
    #panel .tools .tool {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1%; }
      /* line 131, editor.scss */
      #panel .tools .tool .label {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px; }
      /* line 137, editor.scss */
      #panel .tools .tool img {
        display: block;
        width: 98%;
        margin: auto; }

/*
element UI
*/
/* line 153, editor.scss */
.item_list {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid black;
  z-index: 1;
  font-family: 'Arial'; }
  /* line 160, editor.scss */
  .item_list .item {
    line-height: 18px;
    height: 18px;
    padding: 6px 10px 6px 20px;
    display: block;
    color: #333333;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    /* line 169, editor.scss */
    .item_list .item:hover {
      border-top: 1px solid #0097ff;
      border-bottom: 1px solid #0097ff;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(180, 240, 255, 0.1)), color-stop(100%, rgba(60, 191, 255, 0.2)));
      background-image: -webkit-linear-gradient(top, rgba(180, 240, 255, 0.1), rgba(60, 191, 255, 0.2));
      background-image: -moz-linear-gradient(top, rgba(180, 240, 255, 0.1), rgba(60, 191, 255, 0.2));
      background-image: -o-linear-gradient(top, rgba(180, 240, 255, 0.1), rgba(60, 191, 255, 0.2));
      background-image: linear-gradient(top, rgba(180, 240, 255, 0.1), rgba(60, 191, 255, 0.2));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='rgba(180, 240, 255, 0.1)', endColorstr='rgba(60, 191, 255, 0.2)');
      background-color: rgba(200, 240, 255, 0.3);
      cursor: pointer;
      color: #333333; }

/* line 181, editor.scss */
.popup {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 0 8px #a7a7a7;
  -moz-box-shadow: 0 0 8px #a7a7a7;
  box-shadow: 0 0 8px #a7a7a7;
  background-color: #f0f0f0;
  border: 1px solid #D8D8D8;
  padding: 0 10px; }
  /* line 188, editor.scss */
  .popup.edition {
    width: 600px; }
    /* line 190, editor.scss */
    .popup.edition .body {
      padding: 10px; }
  /* line 194, editor.scss */
  .popup .title {
    padding: 10px 0; }

/* line 199, editor.scss */
.bton {
  display: inline-block; }
  /* line 201, editor.scss */
  .bton:hover {
    cursor: pointer; }
  /* line 204, editor.scss */
  .bton.close {
    height: 10px;
    width: 10px;
    padding: 4px;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 0.7em;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4); }
    /* line 214, editor.scss */
    .bton.close:hover {
      background-color: black; }
