@import "compass";

$bodycolor: #4A2411; //rgb(248, 248, 230);
$gris: #D0D2D3;
$orange: #FF8F00;
//$bleu: #1477FF;
$vert: #67A54B;
$rouge: #FF4110;
$noir: lighten(black, 20%);
$errorColor: red; /*rgb(249, 48, 42);*/
$bleuc: #6071F9;
$blancf: #f5f5f5;
$jaune: #F7D904;
$bleuc: #9D98FB;

$header: #2f2a27;
$bleu: #0097ff;

$barreProfilGris: #424345;
$bandeauProfilGris: #e9e7e8;
$BarreBackOfficeGris: #1f1f1f;

$barreRubriqueGris: #202020;

$line1: #edebec;
$line2: #d1cfd0;

$rouge: #ee001e;
$backgroundGris: #d3d3d3;
$backgroundPost: #ecebe7;

$gris1Post: #848484;
$gris2Post: #2c2827;

$popup: #58595d; //champs de redaction des popups
$popupName: #141517; // cartouche du nom des invit popup


canvas{
	position: absolute;
	top: 0;
	left: 0;
}
#hud{
	position: absolute;
	top: 0;
	left: 0;

}
.station_main_container {
	width:500px;
	background:black;
	border:1px solid white;
	padding:5px;
}
.entity_info_container{
	display: none;
	border: 4px solid $gris;
	background-color: rgba(0,0,0,0.5);
	color: $vert;
	font-family: 'serif';
	font-size: 0.8em;
	width: 200px;
	max-height: 400px;
	position: absolute;
	padding: 4px;
	.name{
		text-align: center;
		border-bottom: 1px solid $gris;
	}
	.actions_list{
		padding: 10px 4px;
		.action{
			&:hover{
				cursor: pointer;
				color: $blancf;
			}
			i{

			}
			span{

			}
		}
	}
}
#debug{
	background-color: rgba(0,0,0,0.5);
	color: $blancf;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 400px;
	width: 160px;
	border: 1px solid black;
	overflow: auto;
	padding: 5px;
}
